{% extends 'base.html' %}

{% block body_block %}
<header class="add-food">
<div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">
            <span>
            Консумирана храна
            </span>
            </h1>
        </div>
    </div>
</header>

<a href="/foods/add">Добави консумирана храна</a>

{% if consumed_foods %}
    <table>
    	<thead>
    	<tr>
    	<th>Има</th>
    	<th>Брой (100гр./бр.)</th>
    	<th>Потребител</th>
        <th>Дата</th>
    	</tr>
    	</thead>
        {% for consumed_food in consumed_foods %}
        <tr>
        <td><a href="/food/{{ food.food_id }}/">{{ consumed_food.food.name }}</a></td>
        <td>
        {{ consumed_food.count }}
        </td>
        <td>{{consumed_food.user.username}}</td>
        <td>{{consumed_food.date}}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No consumed foods for {{user.name}} are available.</p>
{% endif %}


{% endblock %}