{% extends 'base.html' %}

{% block body_block %}
<header class="add-food">
<div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">
            <span>
            Профилът на {{user.username}}
            </span>
            </h1>
        </div>
    </div>
</header>

{% if nutrients %}
<div class="row">
	<div class="col-md-4">
		{% for nutrient, value in nutrients.items %}
		<div style="border: 1px solid #333; height: 30px; ">
		<div style="width: {{ value.0 }}%; background-color: red; height: 100%;">
		{{ value.1 }}
		{{ value.2 }}
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
{% endblock %}