{% extends 'base.html' %}

{% block body_block %}
<header class="add-food">
<div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">
            <span>
            Хранителни съставки
            </span>
            </h1>
        </div>
    </div>
</header>

{% if nutrients %}
    <ul>
    {% for nutrient in nutrients %}
        <li><a href="/nutrients/{{ nutrient.id }}/">{{ nutrient.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No foods are available.</p>
{% endif %}


{% endblock %}